.input__card-blip {
  margin: 10px 20px;
  padding: 15px 10px;
  width: 300px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  height: 150px;
  overflow-y: auto;
}
