.input__select__container {
  width: 45%;
  margin: 10px 5px 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__select {
  width: 90%;
  height: 1.9em;
  background-color: white;
  border: 1px solid #cbd6e2;
  border-radius: 5px;
}

.input__select-label {
  color: black;
  font-size: 0.8em;
  font-weight: 600;
}
