.input__card {
  margin: 10px 20px;
  padding: 15px 10px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}

.input__title {
  margin-left: 10px;
  font-weight: 800;
  color: #3d3d3d;
}

.input__container {
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input__container {
  margin: 20px 0 0;
}

.page__input {
  width: 300px;
  height: 1.8em;
  border: 1px solid #cbd6e2;
  border-radius: 5px;
}

.input__label {
  color: black;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  left: 0.4em;
  margin: 0;
  position: absolute;
  top: -1.4em;
  transition: 0.2s;
}

.page__input:placeholder-shown + .input__label {
  color: #555;
  cursor: text;
  font-size: 0.8em;
  font-weight: 500;
  top: 0.3em;
}

.page__input:focus + .input__label {
  color: #555;
  font-size: 0.8em;
  font-weight: 600;
  left: 0.4em;
  top: -1.4em;
  transition: 0.2s;
}

.page__input::placeholder {
  color: transparent;
}
