.loading__container {
  animation: showIn 0.1s linear;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparer__loading {
  width: 100px;
  height: 100px;
}

@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
