.title__top,
.title__bottom {
  text-align: center;
  margin: 0;
}

.inputs__container {
  display: flex;
  justify-content: center;
}

.button__container {
  text-align: center;
  margin-top: 5px;
}

.page__button {
  background-color: #f5f5f5;
  border: 1px solid #cbd6e2;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  color: #3d3d3d;
}

.page__button:hover {
  color: black;
  background-color: #dcdcdc;
}

.page__button--disabled {
  color: gray;
  transition: background-color 0.3s;
  cursor: default;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.3em;
  border-radius: 5px;
}

.showNone {
  display: none;
}
